body {
  background-color: #e9ebee;
}
.post {
  background-color: white;
  width: 500px;
  margin: 100px auto;
  border: solid 1px #CCC;
  padding: 10px;
  border-radius: 3px;
}
.author {
  color: #365899;
  font-weight: bold;
}
.content {
  margin: 10px 0;
}
.comments header {
  color: #999;
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 10px;
}
