$black: #1B1725;
$lightblue: #3E92CC;
$blue: #226CE0;
$white: #FAE8EB;
$liver: #534B62;

body {
	background: $black;
}
.wrapper {
	padding: 0 5px;
	font-family: 'Josefin Sans', sans-serif;
	color: #DDD;
}
h1 {
	text-align: center;
	font-weight: 400;
	font-family: 'Josefin Sans', sans-serif;
}
.primary {
	background: $blue;
	border: none;
	color: $white;
	font-size: 20px;
	padding: 5px;
	font-weight: 500;
	width: 80px;
}
.login {
	.error{
		color: red;
		font-size: 12px;
		margin-bottom: 5px;
	}
	.greeting {
		height: 60px;
		color: $lightblue;
	}
	form {
		.input {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			font-size: 16px;
			input {
				width: 160px;
				background: $white;
				border: none;
			}
			input[type=radio] {
				width: 20px;
			}
		}
		.roboMode .input:last-child{
			margin-top: 10px;
		}
		.radio-sneak input[type="radio"]:checked{
		 	display: none;
		}
		& > div {
			padding-bottom: 10px;
		}
		.button-div{
			text-align: right;
		}
	}
}
