$black: #1B1725;
$lightblue: #3E92CC;
$blue: #226CE0;
$white: #FAE8EB;
$liver: #534B62;
$red: #FF0700;
$green: #00D51A;

html, body{
	font-size: 62.5%;
	background: $black;
	height: 100vh;
}
body {
	font-family: 'Josefin Sans', sans-serif;
}
button, a{
	transition: all .4s;
}
code{
	font-size: 1.6rem;
}
.wrapper {
	padding: 0 5px;
	font-family: 'Josefin Sans', sans-serif;
	color: #DDD;
	max-width: 600px;
	margin: 0 auto;
}
hr{
	border-color: $liver;
}
nav{
	font-family: 'Josefin Sans', sans-serif;
	color: #DDD;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 2.4rem;
	border-bottom: solid 1px $liver;
	padding: 1rem 0;
	a{
		margin: 0 5px;
		color: $blue;
		text-decoration: none;
		font-weight:300;
		transition: all .4s;
		&:hover, &:focus{
			color: $white;
			font-weight:800;
		}
	}
}
header{
	p{
		font-size: 2rem;
		text-align: center;
		font-weight: 300;
		color: $green;
	}
}
h1, h2, h3{
	text-align: center;
	font-weight: 400;
	padding-top: 0;
}
h1 {
	font-size: 4rem;
}
h2{
	font-size: 3rem;
}
h3{
	font-size: 2.4rem;
}
h4{
	font-size: 2.2rem;
	font-weight: 400;
	color: $lightblue;
}
.primary {
	background: $blue;
	border: none;
	color: $white;
	font-size: 1.6rem;
	padding: 1rem;
	font-weight: 400;
	// width: 80px;
	&:focus, &:hover{
		font-weight: 700;
		background: $liver;
		color: $green;
	}
}
.secondary{
	color: $liver;
	background: none;
	border: none;
	margin: 10px 0;
	&:hover, &:focus{
		color: $blue;
	}
}
.primary.finish{
	background:$green;
	color:$black;
}
.primary.cancel{
	background:$red;
}
.delete{
	font-size: 1.4rem;
	height: 2rem;
	background: none;
	border: none;
	color: $red;
	&:focus, &:hover{
		color: $white;
		background: $red;

	}
}
#renameProjects{
	margin-bottom: 6rem;
}
#renameProjectsButton{
	&:hover, &:focus{
		color: $green;
	}
}
#cancelRenameProjectsButton{
	&:hover, &:focus{
		color: $red;
	}
}
.login {
	.error{
		color: red;
		font-size: 1.4em;
		margin-bottom: 5px;
	}
	.greeting {
		height: 60px;
		color: $lightblue;
	}
	form {
		font-size: 2rem;
		.input {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			font-size: 2rem;
			input {
				width: 160px;
				background: $white;
				border: none;
			}
			input[type=radio] {
				width: 20px;
				&:focus{
					border: solid 2px $blue;
				}
			}
		}
		.roboMode .input:last-child{
			margin-top: 10px;
		}
		.radio-sneak input[type="radio"]:checked{
		 	display: none;
		}
		& > div {
			padding-bottom: 10px;
		}
		.button-div{
			text-align: right;
		}
	}
}
input.liveText{
	font-size: 2rem;
	margin: 0 5px;
	color: $blue;
	background: none ;
	border: none;
	padding: 0;
	width: 125px;
}
.projects-list{
	h1{
		margin-bottom: 10px;
	}
	#renameProjects{
		text-align: center;
		font-weight: 300;
		color: $lightblue;
		font-size: 1.6rem;
		#rename-input{
			text-align: center;
		}
		label:first-child{
			margin-right: 2px;
		}
		label:last-child{
			margin-left: 2px;
		}
	}
	section.projects{
		font-size: 2rem;
		ul{
			list-style: none;
			padding: 0;
			input{
				color: $white;
				width: 100%;
				border: solid 1px $lightblue;
				background: transparent;
				border-radius: 5px;
				padding: 8px 10px 5px;
				margin-bottom: 20px;
				transition: all .4s;
				&:hover, &:focus{
					background: $blue;
					border-color: $white;
				}
			}
			li{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding: 1rem 0;
				span{
					margin-right: 1rem;
				}
				a{
					text-decoration: none;
					color:$white;
					cursor: pointer;
					&:hover, &:focus{
						color: $blue;
					}
				}
			}
		}
	}
}
section.single-project{
	h3{
		color: $green;
		span{
			font-weight: 700;
		}
	}
	h4{
		label{
			cursor: pointer;
			transition: all .4s;
			&:hover, &:focus{
				color: $white;
			}
			span{
				color: $green;
			}
		}
	}
	.modify-time{
		margin-top: 5rem;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		input[type=number]{
			text-align: right;
		}
	}
	.editing-time{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		flex-direction: row;
		margin-top: 4rem;
		input{
			font-size: 1.8rem;
			width: 10rem;
			padding: 0 1rem;
		}
	}
}
section.timer{
	margin-top: 5rem;
	text-align: center;
	font-size: 2.2rem;
}
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	color: $liver;
	text-align: center;
	padding-bottom: 5px;
	font-size: 1.6rem;
	a{
		transition: all .6s;
		text-decoration: none;
		color: $liver;
		&:hover, &:focus{
			color: $lightblue;
		}
	}
}