body {
	background: #1B1725;
}

.wrapper{
	padding: 0 5px;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Josefin Sans', sans-serif;
	color: #111;
}

.login .greeting{
	height: 60px;
	display: none;
}

h1{
	text-align: center;
	font-weight: 400;
	font-family: 'Josefin Sans', sans-serif;
}

form .input{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 16px;
}

form .input input{
	width: 160px;
}