:local {
  .container {
    padding:10px;
    background-color: #FAFAFA;
    font-size: 0.8em;
  }
  .comment {
    border-top: solid 1px #DDD;
    padding: 5px 0;
  }
  .author {
    font-weight: bold;
  }
  .content {

  }
}
